<template>
  <div @mouseleave="dropdownHover" @mouseenter="dropdownHover" class="card">
    <dropdown ref="dropdown">
      <div class="text-uppercase">create boost</div>
      <div class="text-divider">
        <span>date period</span>
      </div>
      <div class="date-picker">
        <div>pick date range:</div>
        <div class="date-picker--range">
          <div class="text-underline">{{ data.dateRange.from }}</div>
          <span class="text-uppercase">to</span>
          <div class="text-underline">{{ data.dateRange.to }}</div>
        </div>
      </div>
    </dropdown>
    <div class="card-body bordered">
      <div>
        <button class="boost-btn">Boost</button>
      </div>
      <div class="card-statistics text-uppercase">
        <span>linking</span>
        <span class="text-bold">{{ data.linkCount }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import dropdown from "./dropdown.vue";
export default {
  name: "card",
  props: {
    data: Object
  },
  components: { dropdown },
  methods: {
    dropdownHover() {
      this.$refs.dropdown.toggleHover();
    }
  }
};
</script>

<style>
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 257px;
}

.card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  height: var(--card-body--height);
  padding: 16px;
  z-index: 2;
  width: 100%;
}

.boost-btn {
  border: 3px solid #a6acba;
  border-radius: 24px;
  height: auto;
  font-size: 10px;
  opacity: 40%;
  color: #3c3c3c;
  padding-left: var(--btn-padding);
  padding-right: var(--btn-padding);
  padding-top: calc(var(--btn-padding) / 4);
  padding-bottom: calc(var(--btn-padding) / 4);
}

.card-statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.text-divider {
  margin-top: 32px;
  background-image: linear-gradient(
    to right,
    #a6acba 60%,
    rgba(255, 255, 255, 0) 20%
  );
  background-position: top;
  background-size: 8px 1px;
  background-repeat: repeat-x;
  margin-right: 3px;
  margin-left: 2px;
  height: 2px;
  position: relative;
}

.text-divider span {
  background-color: #fff;
  padding: 0 5px;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  color: #a6acba;
}

.date-picker {
  margin-top: 15px;
  display: inline-block;
  width: 80%;
}

.date-picker--range {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
}

.date-picker--range > span:nth-child(2) {
  margin-top: -6px;
}

.text-bold {
  font-weight: 700;
  font-size: 23px;
}
.bordered {
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-underline {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}
</style>