<template>
  <div class="dropdown-wrapper">
    <slot name="button" :isHovered="isHovered" :isActive="isActive">
      <div
        @click="toggleActive"
        :class="['dropdown bordered', dropdownCssClass]"
      >
        +
      </div>
    </slot>
    <div class="dropdown--content bordered">
      <slot name="default"> dropdown content here </slot>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isHovered: false,
      isActive: false
    };
  },
  methods: {
    toggleHover() {
      if (this.isActive) return;
      this.isHovered = !this.isHovered;
    },
    toggleActive() {
      this.isActive = !this.isActive;
      if (this.isActive) window.addEventListener("click", this.clickOutside);
      else window.removeEventListener("click", this.clickOutside);
    },
    clickOutside(e) {
      const isOutside = !this.$el.contains(e.target);
      if (isOutside) {
        this.toggleActive();
        this.toggleHover();
      }
    }
  },
  computed: {
    dropdownCssClass() {
      return {
        hovered: this.isHovered,
        active: this.isActive
      };
    }
  }
};
</script>

<style>
.dropdown-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}
.dropdown {
  text-align: center;
  color: var(--blue);
  font-size: 28px;
  background-color: white;
  width: 90%;
  position: absolute;
  top: -10px;
  z-index: 1;
  transition: ease-in var(--add-btn-transition--time);
  height: 32px;
}

.dropdown.hovered {
  top: -28px;
}

.dropdown.active {
  color: white;
  background-color: var(--blue);
  /* z-index: 4; */
}

.dropdown.active + .dropdown--content {
  height: calc(var(--card-body--height) * 2.35);
  display: block;
}

.dropdown--content {
  height: 0;
  width: 100%;
  background-color: white;
  display: none;
  z-index: 4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  padding-top: 12px;
}
</style>