<template>
  <div id="cards-container">
    <card v-for="data in cardsData" :key="data.id" :data="data"></card>
  </div>
</template>

<script>
import Card from "./components/card.vue";

export default {
  name: "App",
  data() {
    return {
      cardsData: [
        {
          id: 1,
          linkCount: 100,
          dateRange: { from: "2020/09/10", to: "2020/09/10" }
        },
        {
          id: 2,
          linkCount: 100,
          dateRange: { from: "2020/09/10", to: "2020/09/10" }
        }
      ]
    };
  },
  components: {
    Card
  }
};
</script>

<style>
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background: none;
}

/* variables */
:root {
  --btn-padding: 10px;
  --blue: #4f5bd5;
  --add-btn-transition--time: 0.2s;
  --card-body--height: 149px;
}

body {
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100vh;
}

#cards-container {
  display: flex;
  overflow: hidden;
  padding: 8px;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  gap: 10px;
  height: 100%;
}

#app {
  height: 100%;
}
</style>
